.playVideo {
    background-color: #21272F;
}

.playVideo_auto {
    text-align: center;
}

@media screen and (max-width:945px) {

    .atMobileDevice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .playVideo_auto {
        height: 350px;
        width: 250px;
        margin: 10px auto;
    }
}